<header>
    <div class="container-fluid text-center py-5 bg-danger header_bgImage">
        <img width="200" alt="Angular Logo"
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />

        <h1 class="text-center display-4"><span class="text-warning">{{ title }}</span></h1>
        <hr />
        <p class="lead text-white">Découverte du framework ANGULAR grâce à la plateforme de Dyma.FR</p>
    </div>
</header>

<div class="container">

    <div class="row my-5 text-center">
        <div class="col-5 mt-5 pt-5">
            <h2>Merci Dyma</h2>
            <p class="lead">
                Je tiens tout personnellement à remercier la société Dyma pour leurs nombreux cours qui sont réellement
                d'excellente qualité.. J'apprends chaque jours de nouvelles choses et pour tout ça MERCI.
            </p>
        </div>
        <div class="col-7">
            <img src="assets/merci.jpg" class="img-fluid" alt="...">
        </div>
    </div>

    <div class="row my-5 text-center">
        <div class="col-7">
            <img src="assets/emploi.jpg" class="img-fluid" alt="...">
        </div>

        <div class="col-5 mt-5 pt-5">
            <h2>Un Emploi</h2>
            <p class="lead">
                Comme je le disais, ces cours, me permette non seulement de m'améliorer dans
                des langages que j'affectionne tout particulièrement. Mais surtout et c'est le principal, ils
                vont me permettre de trouver un emploi.
            </p>
        </div>
    </div>

    <div class="row my-5 text-center">
        <div class="col-5 mt-5 pt-5">
            <h2>Des Similitudes !?</h2>
            <p class="lead">
                Il peut y avoir quelques similitude avec les cours que Dyma propose, Mais en
                aucun cas ce site à pour vocation de remplacer cette fabuleuse plateforme. Très franchement, si
                j'arrive à ré-expliquer une notion que je viens tout juste d'apprendre, C'est que je peux
                prétendre prouver que je connais la notion.
            </p>
        </div>
        <div class="col-7">
            <img src="assets/copie-interdite.jpg" class="img-fluid" alt="...">
        </div>
    </div>
</div>
